*{
	margin: 0;
	padding: 0;
}
  .menu{
    font-family: airbornepilot;
    font-size: 150%;
    color: #fff;
    overflow: auto;
}
  .menulogo{
    margin: 50%
    padding 30%
  }
.mers{
		font-family: airbornepilot;
		color:#fff;
		font-size: 100%;
	}

.mers1{
		font-family: airbornepilot;;
		color: black;
		font-size: 100%;
	}
.dalee{
		color:black;
		font-size: 80%;
	}
		.top14{
 		font-family: airbornepilot;
		color: #c43157;
		font-size:80%;
	}
.top14text{
		font-family:  airbornepilot;
		color: black;
		font-size:70%;
	}
  .news{
  		position: relative;
		color: #fff; 
		text-decoration: none;
	}
.foter{
  font-size: 60%
}
.news:hover{
		color: #c8c340;
		text-decoration: none;
		border:none !important;
}

.arrow-circle{
  position:relative;
  display: inline-block;
  margin:0em .5em;
  padding:0.20em 2em 0.20em 0.5em ;
  color: black;
  text-decoration:none;
  overflow:hidden;
  z-index:1;
  -webkit-transition:all 0.30s ease;
  -moz-transition:all 0.30s ease;
  -moz-transition:all 0.30s ease;
  -o-transition:all 0.30s ease;
  transition:all 0.30s ease;
  border:0.0625em solid black;
}
a.arrow-circle:hover{
  background:none;
  color: black;
}
a.arrow-circle:after{
  position: absolute;
  margin-top: 0.07em;
  right:0.25em;
  content: "\f0a9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  transform:rotateX(0deg);
  padding-left:5px;
  background:none;
  border-left:0.0625em solid  black;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
a.arrow-circle:hover:after{
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -o-transform:rotateX(180deg);
  transform:rotateX(180deg);
  background:none;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.tabl{
  margin: 1%;
  padding: 1%;
    
}
.d1{
  background-color: #c8c240;
}
.d2{
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.d3{
  box-sizing: border-box;
  text-align: center;
}
.zagnews{
  font-family: airbornepilot;
    color: #c43157;
    font-size:80%;
}
.textnews{
    font-family:  airbornepilot;
    color: black;
    font-size:70%;
}